/* Basic CSS */
body{
    background-color: rgba(24, 24, 180, 0.486);
}
h1, h2{
    background-color:lightblue;
    color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif; 
}

img{
    width:50%;
}

h2{
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

ul{
    font-family: Garamond, "Times New Roman", serif; 
    font-size: 20pt;
    font-weight: bold;
    font-style: italic;
    margin: auto;
    width: 200px;
}

.left_page{
    text-align: left;
}

div{
    text-align: center;
}

div a{
    font-size: 30px;
    font-weight: bold;
    color: blue;
}

th{
    text-decoration: underline;
}


#pokemon_pic{
    width: 25%;
    border: 5px dotted lightblue;
    border-radius: 80px;
    vertical-align: middle;
}

hr{
    height: 30px;
    color: lightblue;
    background-color: lightblue;
    border: none;
}

/* div flex */
.flex_container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.flex_container > div{
    border: 2px solid turquoise;
    width: 300px;
    margin-left: 10px;
    margin-bottom: 10px;
}

a:link{
	color: #FF0000; 
} /* unvisited link */
a:visited{
	color: #00FF00; 
} /* visited link */
a:hover{ 
	color: #FF00FF; 
} /* mouse over link */ 

table{
    margin: auto;
    margin-top: 20px;
    border: 1px solid black;
}

/* ---------------- START HERE -------------------*/

/* CSS Animation Properties */
/* .rotate-ball{
    width: 30%;
    animation: moveball 2s linear infinite;
    position: relative;
} */

@keyframes moveball {
    0% { left: 0px; top:0px }
    100% { left: 900px; top:0px }
  }

.rotate-ball{
    width: 30%;
    animation: spin 2s linear infinite;
    padding: 1%;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/* Grid display */
.grid-container{
    display: grid;
    grid-template-columns: 10% auto 20%;
    grid-gap: 10px;
}

.grid-container > div{
    border: 1px solid black;
    font-size: 20px;
    text-align: center;
    background-color:white;
}

#header{
    grid-column: 1 / span 3;
}

#menu{
    grid-column: 1 / span 1;
}

#main{
    grid-column: 2 / span 1;
}
#right{
    grid-column: 3 / span 1;
}

#footer{
    grid-column: 1 / span 3;
}

 @media only screen and (max-width: 500px){
    body{
        background-color: lightblue;
    }
}


@media only screen and (max-width: 767px){
    .grid-container{
        display: grid;
        grid-template-columns: auto 20%;
        grid-gap: 10px;
    }
    #header{
        grid-column: 1 / span 2;
    }
    
    #menu{
        grid-column: 1 / span 2;
        text-align: left;
    }
    
    #menu div{
        display: inline-block;
    }

    #main{
        grid-column: 1 / span 1;
    }
    #right{
        grid-column: 2 / span 1;
    }
    #footer{
        grid-column: 1 / span 2;
    }
}

@media only screen and (max-width: 500px){
    .grid-container{
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;
    }
    #header{
        grid-column: 1 / span 1;
    }
    
    #menu{
        grid-column: 1 / span 1;
    }
    
    #main{
        grid-column: 1 / span 1;
    }
    #right{
        grid-column: 1 / span 1;
    }
    #footer{
        grid-column: 1 / span 1;
    }
} 


#right img{
    width:100%;
}

#right div{
    margin-bottom: 20px;
}




