body{
    background-color: rgb(255, 245, 224);
}
a{
    font-size: 20pt;
}
span{
    font-size: 20pt;
}
h1{
    font-size: 60pt;
    margin: auto;
    background-color: rgb(255, 105, 105);
}
h2{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20pt;
    margin: auto;
    background-color: rgb(255, 105, 105);
}
h3{
    font-size: 30pt;
    margin: auto;
    background-color: rgb(255, 105, 105);
}
p{
    font-size: 15pt;
    margin: auto;
    width: 500;
}
div{
    margin: auto;
    text-align: center;
}
li{
    font-size: 15pt;
    margin: auto;
}

#firstpic{
    border-radius: 5px;
    width: 20%;
    object-fit: cover;

}
.instruction_pic{
    width:  300px;
    height: 300px;
    border-radius: 10px;
    vertical-align: middle;
    object-fit: cover;
}
.flex_container{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    justify-content: center;
}
.flex_container > div{
    width: 400px;
    margin-left: 10px;
    margin-bottom: 10px;
}
#right_pic{
    float: right;
}